<div id="header-wrap">
	<div id="header">
		<div class="fluid-container">
			<div id="banner">
				<h1 class="logo"><%= link_to 'CIAV', home_path %> </h1>
				<%= yield_content :tagline %>
			</div>
			<div id="menu">
				<a href="#" class="showmenu"><%= I18n.t('text.show-menu') %></a>
				<nav id="navigation-menu">

					<ul>
						<%= draw_page_nav %>
					</ul>
				</nav>
			</div>
			<div id="languages">
				<a href="#" class="showmenu"><%= I18n.t('text.show-lang') %></a>
				<nav id="navigation-languages">
					<ul>
						<%= draw_locale_select %>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</div>