<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="<%= I18n.locale %>"> <!--<![endif]-->
    <head>
        <%= partial "/layouts/head" %>
        <%= partial "/layouts/googlemap" %>
        
        
        

    </head>
    <body class="<%= page_classes %> fluid-container"> 
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
        
        
            <%= partial "/layouts/header" %>
        
            <%= yield_content :slideshow %>
            <%= yield_content :googlemap %>

            <div id="content">
                <%= yield %>
                <%= yield_content :notice %>
            </div>
            <%= partial "/layouts/footer" %>
        

        

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.0.min.js"><\/script>')</script>
        <%= javascript_include_tag "vendor/jquery.backstretch.min", "vendor/jquery.bxslider.min", "vendor/jquery.reveal", "vendor/jquery.scrollUp.min", "vendor/fresco", "vendor/responsiveslides.min", "vendor/jquery.readingtime.min", "vendor/jquery.photoset-grid.min", "plugins", "main" %>
    </body>
</html>
