---
title: building
layout: layout
priority: 1.0
---


<article itemscope itemtype="http://schema.org/Article">
	<aside>
		
			<ul class="bxslider">
			 	<li><%= image_tag 'http://ciav.s3.amazonaws.com/img/rehab.jpg', :class => 'tooltip', :title => '', :alt => '' %></li>
				<li><%= image_tag 'http://ciav.s3.amazonaws.com/img/_DSC3365.jpg', :class => 'tooltip', :title => 'Opus caementicuim', :alt => 'Opus caementicuim' %></li>
				<li><%= image_tag 'http://ciav.s3.amazonaws.com/img/_DSC3323.jpg', :class => 'tooltip', :title => 'Opus vittatum', :alt => 'Opus vittatum' %></li>
				<li><%= image_tag 'http://ciav.s3.amazonaws.com/img/_DSC3324.jpg', :class => 'tooltip', :title => 'Opus quadratum', :alt => 'Opus quadratum' %></li>
			</ul>
	</aside>
	<div class="bodytext">
		<header>
			<hgroup>
				<h1 itemprop="name"><%= I18n.t('layout.building') %></h1>
			</hgroup>
		</header>
		<section>
			<%= partial "content/#{I18n.locale}/building" %>
		</section>
		<footer>
		</footer>
	</div>
</article>


