---
title: environment
layout: layout
priority: 1.0
---

<% content_for :googlemap do %>
	<%= javascript_include_tag "environment-map" %>
<% end %>

<article itemscope itemtype="http://schema.org/Article">
	<aside>
		<ul class="bxslider">
				  <li><%= image_tag 'http://ciav.s3.amazonaws.com/img/_DSC3556.jpg', :class => 'tooltip', :title => '', :alt => 'prueba' %></li>
				  <li><%= image_tag 'http://ciav.s3.amazonaws.com/img/aerial-view.jpg', :class => 'tooltip', :title => '', :alt => '' %></li>
				  <li><%= image_tag 'http://ciav.s3.amazonaws.com/img/postales-2655M.jpg', :class => 'tooltip', :title => '', :alt => '' %></li>
			</ul>
	</aside>
	<div class="bodytext">
		<header>
			<hgroup>
				<h1 itemprop="name"><%= I18n.t('layout.environment') %></h1>
			</hgroup>
		</header>
		<section>

			<%= partial "content/#{I18n.locale}/environment" %>
			<div id="map-canvas"></div>
		</section>
		<footer>
		</footer>
	</div>
</article>