---
title: function
layout: layout
priority: 1.0
---


<article itemscope itemtype="http://schema.org/Article">
	<aside>
		
			<ul class="bxslider">
				  <li><%= image_tag 'http://ciav.s3.amazonaws.com/img/torre-noche.jpg', :class => 'tooltip', :title => '', :alt => 'torre' %></li>
				  <li><%= image_tag 'http://ciav.s3.amazonaws.com/img/_DSC3661.jpg', :class => 'tooltip', :title => '', :alt => 'linterna' %></li>
			</ul>
	</aside>
	<div class="bodytext">
		<header>
			<hgroup>
				<h1 itemprop="name"><%= I18n.t('layout.function') %></h1>
			</hgroup>
		</header>
		<section>
			<%= partial "content/#{I18n.locale}/function" %>
		</section>
		<section>
      <div id="facebook" data-url="<%= data.settings.site.domain %><%= request.path %>" data-text="" data-title="Like"></div>
      <div id="twitter" data-url="<%= data.settings.site.domain %><%= request.path %>" data-text="" data-title="Tweet"></div>
    </section>
		<footer>
		</footer>
	</div>
</article>
