---
title: index
layout: layout
priority: 1.0
---



	



<article itemscope itemtype="http://schema.org/Article">
  <aside>
    
      <ul class="bxslider">
          <li><%= image_tag 'http://ciav.s3.amazonaws.com/img/_DSC3586.jpg', :class => 'tooltip', :title => I18n.t('caption.pic1'), :alt => I18n.t('caption.pic1') %></li>
          <li><%= image_tag 'http://ciav.s3.amazonaws.com/img/_DSC3214.jpg', :class => 'tooltip', :title => I18n.t('caption.pic2'), :alt => I18n.t('caption.pic2') %></li>
          <li><%= image_tag 'http://ciav.s3.amazonaws.com/img/_DSC3250.jpg', :class => 'tooltip', :title => I18n.t('caption.pic3'), :alt => I18n.t('caption.pic3') %></li>
          <li><%= image_tag 'http://ciav.s3.amazonaws.com/img/_DSC3235_2.jpg', :class => 'tooltip', :title => I18n.t('caption.pic4'), :alt => I18n.t('caption.pic4') %></li>
          <li><%= image_tag 'http://ciav.s3.amazonaws.com/img/_DSC3603.jpg', :class => 'tooltip', :title => I18n.t('caption.pic5'), :alt => I18n.t('caption.pic5') %></li>
      </ul>
  </aside>
  <div class="bodytext">
    <header>
      <hgroup>
        
        <h2><%= I18n.t('site.description') %></h2>
      </hgroup>
    </header>
    <section>
      <%= partial "content/#{I18n.locale}/about" %>
      <div id="facebook" data-url="<%= data.settings.site.domain %>" data-text="" data-title="Like"></div>
      <div id="twitter" data-url="<%= data.settings.site.domain %>" data-text="" data-title="Tweet"></div>
    </section>
    <footer>
    </footer>
  </div>
</article>
