---
title: mythology
layout: layout
priority: 1.0
---


<article itemscope itemtype="http://schema.org/Article">
	<aside>
		
			<ul class="bxslider">
				  <li><%= image_tag 'http://ciav.s3.amazonaws.com/img/seoane.jpg', :class => 'tooltip', :title => I18n.t('caption.pic22'), :alt => I18n.t('caption.pic22') %></li>
				  <li><%= image_tag 'http://ciav.s3.amazonaws.com/img/lugris.jpg', :class => 'tooltip', :title => I18n.t('caption.pic24'), :alt => I18n.t('caption.pic24') %></li>
				  
			</ul>
	</aside>
	<div class="bodytext">
		<header>
			<hgroup>
				<h1 itemprop="name"><%= I18n.t('layout.mythology') %></h1>
			</hgroup>
		</header>
		<section>
			<%= partial "content/#{I18n.locale}/mythology" %>
		</section>
		<section>
      <div id="facebook" data-url="<%= data.settings.site.domain %><%= request.path %>" data-text="" data-title="Like"></div>
      <div id="twitter" data-url="<%= data.settings.site.domain %><%= request.path %>" data-text="" data-title="Tweet"></div>
    </section>
		<footer>
		</footer>
	</div>
</Article>