---
title: rome
layout: layout
priority: 1.0
---

<% content_for :googlemap do %>
	<%= javascript_include_tag "rome-map" %>
<% end %>

<article itemscope itemtype="http://schema.org/Article">
	<aside>
	
		<div id="map-canvas"></div>

		<p class="legend"><a href="#" onclick="displayMarkers(1);"><%= I18n.t('text.cities') %></a> | <a href="#" onclick="displayMarkers(2);"><%= I18n.t('text.ports') %></a></a> | <a href="#" onclick="displayMarkers(3);"><%= I18n.t('text.lighthouses') %></a></a></p>
	    
   
	</aside>
	<div class="bodytext">
		<header>
			<hgroup>
				<h1 itemprop="name"><%= I18n.t('layout.rome') %></h1>
			</hgroup>
		</header>
		<section>
			<%= partial "content/#{I18n.locale}/rome" %>
		</section>
		<section>
      <div id="facebook" data-url="<%= data.settings.site.domain %><%= request.path %>" data-text="" data-title="Like"></div>
      <div id="twitter" data-url="<%= data.settings.site.domain %><%= request.path %>" data-text="" data-title="Tweet"></div>
    </section>
		<footer>
		</footer>
	</div>
</Article>