---
title: signatures
layout: layout
priority: 1.0
---


<article itemscope itemtype="http://schema.org/Article">
	<aside>
		
			<ul class="bxslider">
				  <li><%= image_tag 'http://ciav.s3.amazonaws.com/img/_DSC3935.jpg', :class => 'tooltip', :title => '«Consagrado a Marte Augusto. Caio Sevio Lupo, arquitecto de Aeminium (Coimbra) Lusitano en cumplimiento de una promesa.»', :alt => '' %></li>
				  <li><%= image_tag 'http://ciav.s3.amazonaws.com/img/_DSC3396.jpg', :class => 'tooltip', :title => '«Lupo la construyó emulando las maravillas de Menfis, la allanó por medio de una escalera y alumbró las naves desde su cumbre.»', :alt => '' %></li>
				  <li><%= image_tag 'http://ciav.s3.amazonaws.com/img/_DSC3546.jpg', :class => 'tooltip', :title => '«DIRIXIO ESTA OBRA EL THENIENTE DE NAVIO INGº ORDINARIO DE MARINA D. EUSTAQUIO GIANNINI»', :alt => '' %></li>
				  
			</ul>
	</aside>
	<div class="bodytext">
		<header>
			<hgroup>
				<h1 itemprop="name"><%= I18n.t('layout.signatures') %></h1>
			</hgroup>
		</header>
		<section>
			<%= partial "content/#{I18n.locale}/signatures" %>
		</section>
		<footer>
		</footer>
	</div>
</Article>