---
title: time
layout: layout
priority: 1.0
---


<article itemscope itemtype="http://schema.org/Article">

	<aside>
				<ul class="bxslider">
				  <li><%= image_tag 'http://ciav.s3.amazonaws.com/img/tabula.jpg', :class => 'tooltip', :title => '', :alt => 'prueba' %></li>
				  <li><%= image_tag 'http://ciav.s3.amazonaws.com/img/beato-osma.jpg', :class => 'tooltip', :title => 'Beato de Osma', :alt => '' %></li>
				  <li><%= image_tag 'http://ciav.s3.amazonaws.com/img/reino-de-galaecia-1638.jpg', :class => 'tooltip', :title => '', :alt => '' %></li>
				  Osma', :alt => '' %></li>
				  <li><%= image_tag 'http://ciav.s3.amazonaws.com/img/1762.jpg', :class => 'tooltip', :title => '', :alt => '' %></li>
			</ul>

	</aside>
	<div class="bodytext">
		<header>
			<hgroup>
				<h1 itemprop="name"><%= I18n.t('layout.time') %></h1>
			</hgroup>
		</header>
		<section>
			<%= partial "content/#{I18n.locale}/time" %>


			

		</section>
		<section>
      <div id="facebook" data-url="<%= data.settings.site.domain %><%= request.path %>" data-text="" data-title="Like"></div>
      <div id="twitter" data-url="<%= data.settings.site.domain %><%= request.path %>" data-text="" data-title="Tweet"></div>
    </section>
		<footer>
		</footer>
	</div>
</Article>