---
title: time
layout: layout
priority: 1.0
---

<article itemscope itemtype="http://schema.org/Article">

	<aside class="timeline">
			
					
				  
					<p class="centuries">
						<span class="century"><a href="" id="slider0"><%= I18n.t('timeline.time0') %></a></span>
						<span class="century"><a href="" id="slider1"><%= I18n.t('timeline.time1') %></a></span>
						<span class="century"><a href="" id="slider2"><%= I18n.t('timeline.time2') %></a></span>
						<span class="century"><a href="" id="slider3"><%= I18n.t('timeline.time3') %></a></span>
						<span class="century"><a href="" id="slider4"><%= I18n.t('timeline.time4') %></a></span>
						<span class="century"><a href="" id="slider5"><%= I18n.t('timeline.time5') %></a></span>
						<span class="century"><a href="" id="slider6"><%= I18n.t('timeline.time6') %></a></span>
						<span class="century"><a href="" id="slider7"><%= I18n.t('timeline.time7') %></a></span>
						<span class="century"><a href="" id="slider8"><%= I18n.t('timeline.time8') %></a></span>
						<span class="century"><a href="" id="slider9"><%= I18n.t('timeline.time9') %></a></span>
						<span class="century"><a href="" id="slider10"><%= I18n.t('timeline.time10') %></a></span>
						<span class="century"><a href="" id="slider11"><%= I18n.t('timeline.time11') %></a></span>
					</p>
					
					<%= partial "content/#{I18n.locale}/timeline" %>
	

	</aside>
	<div class="bodytext">
		<header>
			<hgroup>
				<h1 itemprop="name"><%= I18n.t('layout.time') %></h1>
			</hgroup>
		</header>
		<section>
			<%= partial "content/#{I18n.locale}/time" %>


			

		</section>
		<section>
      <div id="facebook" data-url="<%= data.settings.site.domain %><%= request.path %>" data-text="" data-title="Like"></div>
      <div id="twitter" data-url="<%= data.settings.site.domain %><%= request.path %>" data-text="" data-title="Tweet"></div>
    </section>
		<footer>
		</footer>
	</div>
</Article>